<!DOCTYPE html>
<html>
  <head>
    <title>Sellsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/e3573ab29b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@300&family=Trirong:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <% if current_user  %>
      <script>
        window.footer = "<%= image_url("footer.png") %>"
        window.visa = "<%= image_url("payments.png") %>"
        window.user = { id:"<%=current_user.id%>", fname: "<%=current_user.f_name%>"}
      </script>
      <%else  %>
      <script>
        window.user = null
      </script>
    <% end %>
    <%= yield %>
  </head>

  <body>
  </body>
</html>
